Projects/CaseStudy3/CaseProject/caseStudy3 (3).docx
Projects/CaseStudy3/CaseProject/CaseStudy3 Part 1.pdf
Projects/CaseStudy3/CaseProject/GOOGL TABLEAU.twb
Projects/CaseStudy3/CaseProject/GOOGLE TABLEAU v2.twb
Projects/Python101/Project/PART 3/city_mpg_heatmap.pdf
Projects/Python101/Project/PART 3/city_mpg_heatmap.pdf
T4-MDA-Winter_26/CPSC_620_-_Agile_-_Omid/Week2_activity/worksheets/worksheets/XP.docx
T4-MDA-Winter_26/CPSC_620_-_Agile_-_Omid/agile - module 1.pdf
T4-MDA-Winter_26/CPSC_620_-_Agile_-_Omid/agile - module 2.pdf
T4-MDA-Winter_26/CPSC_620_-_Agile_-_Omid/agile - module 3.pdf
T4-MDA-Winter_26/CPSC_620_-_Agile_-_Omid/agile - Resumao.pdf
T4-MDA-Winter_26/CPSC_620_-_Agile_-_Omid/Assignment 1/Agile  Assignment 1_v3.docx
T4-MDA-Winter_26/CPSC_620_-_Agile_-_Omid/Assignment 1/Agile W26 Assignment 1_v1.docx
T4-MDA-Winter_26/CPSC_620_-_Agile_-_Omid/Week1_activity/Exercise_Answer_Sheet.pptx
T4-MDA-Winter_26/CPSC_620_-_Agile_-_Omid/Week1_activity/Module 1 Class Exercise.pdf.pdf
T4-MDA-Winter_26/CPSC_620_-_Agile_-_Omid/Week1_activity/__MACOSX/._Exercise_Answer_Sheet.pptx
T4-MDA-Winter_26/CPSC_620_-_Agile_-_Omid/Week1_activity/__MACOSX/._Module 1 Class Exercise.pdf
T4-MDA-Winter_26/CPSC_620_-_Agile_-_Omid/Week2_activity/Agile_Week2_Mini_Kanban_Activity2.docx
T4-MDA-Winter_26/CPSC_620_-_Agile_-_Omid/Week2_activity/Agile_Week2_Speed_Dating_Activity1.docx
T4-MDA-Winter_26/CPSC_620_-_Agile_-_Omid/Week2_activity/Kanban - Group 3 (review from group 2).docx
T4-MDA-Winter_26/CPSC_620_-_Agile_-_Omid/Week2_activity/Team 4 Scrum Activity 1.docx
T4-MDA-Winter_26/CPSC_620_-_Agile_-_Omid/Week2_activity/worksheets.zip
T4-MDA-Winter_26/CPSC_620_-_Agile_-_Omid/Week2_activity/worksheets/__MACOSX/._worksheets
T4-MDA-Winter_26/CPSC_620_-_Agile_-_Omid/Week2_activity/worksheets/__MACOSX/worksheets/._Kanban.docx
T4-MDA-Winter_26/CPSC_620_-_Agile_-_Omid/Week2_activity/worksheets/__MACOSX/worksheets/._Scrum.docx
T4-MDA-Winter_26/CPSC_620_-_Agile_-_Omid/Week2_activity/worksheets/__MACOSX/worksheets/._XP.docx
T4-MDA-Winter_26/CPSC_620_-_Agile_-_Omid/Week2_activity/worksheets/worksheets/Kanban.docx
T4-MDA-Winter_26/CPSC_620_-_Agile_-_Omid/Week2_activity/worksheets/worksheets/Scrum.docx
T4-MDA-Winter_26/CPSC_620_-_Agile_-_Omid/Week3_activity/Agile_Module3_Class_Activity.pdf
T4-MDA-Winter_26/CPSC_620_-_Agile_-_Omid/Week4_activity/Module 4 Class Activity.docx
T4-MDA-Winter_26/CPSC_620_-_Agile_-_Omid/Week5_activity/Agile_Week5_Activity.pdf
T4-MDA-Winter_26/DAMO_630_-_Advanced_Data_Analytics_-_Haytham/Advanced_analytics_module1.pdf
T4-MDA-Winter_26/DAMO_630_-_Advanced_Data_Analytics_-_Haytham/Advanced_analytics_module2.pdf
T4-MDA-Winter_26/DAMO_630_-_Advanced_Data_Analytics_-_Haytham/Advanced_analytics_module3.pdf
T4-MDA-Winter_26/DAMO_630_-_Advanced_Data_Analytics_-_Haytham/Advanced_analytics_resumao1-3.pdf
T4-MDA-Winter_26/DAMO_630_-_Advanced_Data_Analytics_-_Haytham/Assignment_1/DAMO630_Assignment_1_-_Case_1_-_Group_2.ipynb
T4-MDA-Winter_26/DAMO_630_-_Advanced_Data_Analytics_-_Haytham/Assignment_1/DAMO630_Assignment_1.pdf
T4-MDA-Winter_26/DAMO_630_-_Advanced_Data_Analytics_-_Haytham/Week5_activity/Week5_activity_Starter_Code/sample_data/sensor_data_001.csv
T4-MDA-Winter_26/DAMO_630_-_Advanced_Data_Analytics_-_Haytham/Week5_activity/Week5_activity_Starter_Code/sample_data/sensor_data_002.csv
T4-MDA-Winter_26/DAMO_630_-_Advanced_Data_Analytics_-_Haytham/Week5_activity/Week5_activity_Starter_Code/sample_data/sensor_data_003.csv
T4-MDA-Winter_26/DAMO_630_-_Advanced_Data_Analytics_-_Haytham/Week5_activity/Week5_activity_Starter_Code/sample_data/sensor_data_004.csv
T4-MDA-Winter_26/DAMO_630_-_Advanced_Data_Analytics_-_Haytham/Week5_activity/Week5_activity_Starter_Code/sample_data/sensor_data_005.csv
T4-MDA-Winter_26/DAMO_630_-_Advanced_Data_Analytics_-_Haytham/Week5_activity/Week5_activity_Starter_Code/sample_data/sensor_data_006.csv
T4-MDA-Winter_26/DAMO_630_-_Advanced_Data_Analytics_-_Haytham/Week5_activity/Week5_activity_Starter_Code/sample_data/sensor_data_007.csv
T4-MDA-Winter_26/DAMO_630_-_Advanced_Data_Analytics_-_Haytham/Week5_activity/Week5_activity_Starter_Code/sample_data/sensor_data_008.csv
T4-MDA-Winter_26/DAMO_630_-_Advanced_Data_Analytics_-_Haytham/Week5_activity/Week5_activity_Starter_Code/sample_data/sensor_data_009.csv
T4-MDA-Winter_26/DAMO_630_-_Advanced_Data_Analytics_-_Haytham/Week5_activity/Week5_activity_Starter_Code/sample_data/sensor_data_010.csv
T4-MDA-Winter_26/DAMO_630_-_Advanced_Data_Analytics_-_Haytham/Week5_activity/Week5_activity_Starter_Code/sample_data/sensor_data_011.csv
T4-MDA-Winter_26/DAMO_630_-_Advanced_Data_Analytics_-_Haytham/Week5_activity/Week5_activity_Starter_Code/sample_data/sensor_data_012.csv
T4-MDA-Winter_26/DAMO_630_-_Advanced_Data_Analytics_-_Haytham/Week5_activity/Week5_activity_Starter_Code/sample_data/sensor_data_013.csv
T4-MDA-Winter_26/DAMO_630_-_Advanced_Data_Analytics_-_Haytham/Week5_activity/Week5_activity_Starter_Code/sample_data/sensor_data_014.csv
T4-MDA-Winter_26/DAMO_630_-_Advanced_Data_Analytics_-_Haytham/Week5_activity/Week5_activity_Starter_Code/sample_data/sensor_data_015.csv
T4-MDA-Winter_26/DAMO_630_-_Advanced_Data_Analytics_-_Haytham/Week5_activity/Week5_activity_Starter_Code/sample_data/sensor_data_016.csv
T4-MDA-Winter_26/DAMO_630_-_Advanced_Data_Analytics_-_Haytham/Week5_activity/Week5_activity_Starter_Code/sample_data/sensor_data_017.csv
T4-MDA-Winter_26/DAMO_630_-_Advanced_Data_Analytics_-_Haytham/Week5_activity/Week5_activity_Starter_Code/sample_data/sensor_data_018.csv
T4-MDA-Winter_26/DAMO_630_-_Advanced_Data_Analytics_-_Haytham/Week5_activity/Week5_activity_Starter_Code/sample_data/sensor_data_019.csv
T4-MDA-Winter_26/DAMO_630_-_Advanced_Data_Analytics_-_Haytham/Week5_activity/Week5_activity_Starter_Code/sample_data/sensor_data_020.csv
T4-MDA-Winter_26/DAMO_630_-_Advanced_Data_Analytics_-_Haytham/Week5_activity/Week5_activity_Starter_Code/sample_data/sensor_data_021.csv
T4-MDA-Winter_26/DAMO_630_-_Advanced_Data_Analytics_-_Haytham/Week5_activity/Week5_activity_Starter_Code/sample_data/sensor_data_022.csv
T4-MDA-Winter_26/DAMO_630_-_Advanced_Data_Analytics_-_Haytham/Week5_activity/Week5_activity_Starter_Code/sample_data/sensor_data_023.csv
T4-MDA-Winter_26/DAMO_630_-_Advanced_Data_Analytics_-_Haytham/Week5_activity/Week5_activity_Starter_Code/sample_data/sensor_data_024.csv
T4-MDA-Winter_26/DAMO_630_-_Advanced_Data_Analytics_-_Haytham/Week5_activity/Week5_activity_Starter_Code/sample_data/sensor_data_025.csv
T4-MDA-Winter_26/DAMO_630_-_Advanced_Data_Analytics_-_Haytham/Week5_activity/Week5_activity_Starter_Code/sample_data/sensor_data_026.csv
T4-MDA-Winter_26/DAMO_630_-_Advanced_Data_Analytics_-_Haytham/Week5_activity/Week5_activity_Starter_Code/sample_data/sensor_data_027.csv
T4-MDA-Winter_26/DAMO_630_-_Advanced_Data_Analytics_-_Haytham/Week5_activity/Week5_activity_Starter_Code/sample_data/sensor_data_028.csv
T4-MDA-Winter_26/DAMO_630_-_Advanced_Data_Analytics_-_Haytham/Week5_activity/Week5_activity_Starter_Code/sample_data/sensor_data_029.csv
T4-MDA-Winter_26/DAMO_630_-_Advanced_Data_Analytics_-_Haytham/Week5_activity/Week5_activity_Starter_Code/sample_data/sensor_data_030.csv
T4-MDA-Winter_26/DAMO_630_-_Advanced_Data_Analytics_-_Haytham/Week5_activity/Week5_activity_Starter_Code/sample_data/sensor_data_031.csv
T4-MDA-Winter_26/DAMO_630_-_Advanced_Data_Analytics_-_Haytham/Week5_activity/Week5_activity_Starter_Code/sample_data/sensor_data_032.csv
T4-MDA-Winter_26/DAMO_630_-_Advanced_Data_Analytics_-_Haytham/Week5_activity/Week5_activity_Starter_Code/sample_data/sensor_data_033.csv
T4-MDA-Winter_26/DAMO_630_-_Advanced_Data_Analytics_-_Haytham/Week5_activity/Week5_activity_Starter_Code/sample_data/sensor_data_034.csv
T4-MDA-Winter_26/DAMO_630_-_Advanced_Data_Analytics_-_Haytham/Week5_activity/Week5_activity_Starter_Code/sample_data/sensor_data_035.csv
T4-MDA-Winter_26/DAMO_630_-_Advanced_Data_Analytics_-_Haytham/Week5_activity/Week5_activity_Starter_Code/sample_data/sensor_data_036.csv
T4-MDA-Winter_26/DAMO_630_-_Advanced_Data_Analytics_-_Haytham/Week5_activity/Week5_activity_Starter_Code/sample_data/sensor_data_037.csv
T4-MDA-Winter_26/DAMO_630_-_Advanced_Data_Analytics_-_Haytham/Week5_activity/Week5_activity_Starter_Code/sample_data/sensor_data_038.csv
T4-MDA-Winter_26/DAMO_630_-_Advanced_Data_Analytics_-_Haytham/Week5_activity/Week5_activity_Starter_Code/sample_data/sensor_data_039.csv
T4-MDA-Winter_26/DAMO_630_-_Advanced_Data_Analytics_-_Haytham/Week5_activity/Week5_activity_Starter_Code/sample_data/sensor_data_040.csv
T4-MDA-Winter_26/DAMO_630_-_Advanced_Data_Analytics_-_Haytham/Week5_activity/Week5_activity_Starter_Code/sample_data/sensor_data_041.csv
T4-MDA-Winter_26/DAMO_630_-_Advanced_Data_Analytics_-_Haytham/Week5_activity/Week5_activity_Starter_Code/sample_data/sensor_data_042.csv
T4-MDA-Winter_26/DAMO_630_-_Advanced_Data_Analytics_-_Haytham/Week5_activity/Week5_activity_Starter_Code/sample_data/sensor_data_043.csv
T4-MDA-Winter_26/DAMO_630_-_Advanced_Data_Analytics_-_Haytham/Week5_activity/Week5_activity_Starter_Code/sample_data/sensor_data_044.csv
T4-MDA-Winter_26/DAMO_630_-_Advanced_Data_Analytics_-_Haytham/Week5_activity/Week5_activity_Starter_Code/sample_data/sensor_data_045.csv
T4-MDA-Winter_26/DAMO_630_-_Advanced_Data_Analytics_-_Haytham/Week5_activity/Week5_activity_Starter_Code/sample_data/sensor_data_046.csv
T4-MDA-Winter_26/DAMO_630_-_Advanced_Data_Analytics_-_Haytham/Week5_activity/Week5_activity_Starter_Code/sample_data/sensor_data_047.csv
T4-MDA-Winter_26/DAMO_630_-_Advanced_Data_Analytics_-_Haytham/Week5_activity/Week5_activity_Starter_Code/sample_data/sensor_data_048.csv
T4-MDA-Winter_26/DAMO_630_-_Advanced_Data_Analytics_-_Haytham/Week5_activity/Week5_activity_Starter_Code/sample_data/sensor_data_049.csv
T4-MDA-Winter_26/DAMO_630_-_Advanced_Data_Analytics_-_Haytham/Week5_activity/Week5_activity_Starter_Code/sample_data/sensor_data_050.csv
T4-MDA-Winter_26/DAMO_630_-_Advanced_Data_Analytics_-_Haytham/Week5_activity/Week5_activity_Starter_Code/sample_data/sensor_data_051.csv
T4-MDA-Winter_26/DAMO_630_-_Advanced_Data_Analytics_-_Haytham/Week5_activity/Week5_activity_Starter_Code/sample_data/sensor_data_052.csv
T4-MDA-Winter_26/DAMO_630_-_Advanced_Data_Analytics_-_Haytham/Week5_activity/Week5_activity_Starter_Code/sample_data/sensor_data_053.csv
T4-MDA-Winter_26/DAMO_630_-_Advanced_Data_Analytics_-_Haytham/Week5_activity/Week5_activity_Starter_Code/sample_data/sensor_data_054.csv
T4-MDA-Winter_26/DAMO_630_-_Advanced_Data_Analytics_-_Haytham/Week5_activity/Week5_activity_Starter_Code/sample_data/sensor_data_055.csv
T4-MDA-Winter_26/DAMO_630_-_Advanced_Data_Analytics_-_Haytham/Week5_activity/Week5_activity_Starter_Code/sample_data/sensor_data_056.csv
T4-MDA-Winter_26/DAMO_630_-_Advanced_Data_Analytics_-_Haytham/Week5_activity/Week5_activity_Starter_Code/sample_data/sensor_data_057.csv
T4-MDA-Winter_26/DAMO_630_-_Advanced_Data_Analytics_-_Haytham/Week5_activity/Week5_activity_Starter_Code/sample_data/sensor_data_058.csv
T4-MDA-Winter_26/DAMO_630_-_Advanced_Data_Analytics_-_Haytham/Week5_activity/Week5_activity_Starter_Code/sample_data/sensor_data_059.csv
T4-MDA-Winter_26/DAMO_630_-_Advanced_Data_Analytics_-_Haytham/Week5_activity/Week5_activity_Starter_Code/sample_data/sensor_data_060.csv
T4-MDA-Winter_26/DAMO_630_-_Advanced_Data_Analytics_-_Haytham/Week5_activity/Week5_activity_Starter_Code/sample_data/sensor_data_061.csv
T4-MDA-Winter_26/DAMO_630_-_Advanced_Data_Analytics_-_Haytham/Week5_activity/Week5_activity_Starter_Code/sample_data/sensor_data_062.csv
T4-MDA-Winter_26/DAMO_630_-_Advanced_Data_Analytics_-_Haytham/Week5_activity/Week5_activity_Starter_Code/sample_data/sensor_data_063.csv
T4-MDA-Winter_26/DAMO_630_-_Advanced_Data_Analytics_-_Haytham/Week5_activity/Week5_activity_Starter_Code/sample_data/sensor_data_064.csv
T4-MDA-Winter_26/DAMO_630_-_Advanced_Data_Analytics_-_Haytham/Week5_activity/Week5_activity_Starter_Code/sample_data/sensor_data_065.csv
T4-MDA-Winter_26/DAMO_630_-_Advanced_Data_Analytics_-_Haytham/Week5_activity/Week5_activity_Starter_Code/sample_data/sensor_data_066.csv
T4-MDA-Winter_26/DAMO_630_-_Advanced_Data_Analytics_-_Haytham/Week5_activity/Week5_activity_Starter_Code/sample_data/sensor_data_067.csv
T4-MDA-Winter_26/DAMO_630_-_Advanced_Data_Analytics_-_Haytham/Week5_activity/Week5_activity_Starter_Code/sample_data/sensor_data_068.csv
T4-MDA-Winter_26/DAMO_630_-_Advanced_Data_Analytics_-_Haytham/Week5_activity/Week5_activity_Starter_Code/sample_data/sensor_data_069.csv
T4-MDA-Winter_26/DAMO_630_-_Advanced_Data_Analytics_-_Haytham/Week5_activity/Week5_activity_Starter_Code/sample_data/sensor_data_070.csv
T4-MDA-Winter_26/DAMO_630_-_Advanced_Data_Analytics_-_Haytham/Week5_activity/Week5_activity_Starter_Code/sample_data/sensor_data_071.csv
T4-MDA-Winter_26/DAMO_630_-_Advanced_Data_Analytics_-_Haytham/Week5_activity/Week5_activity_Starter_Code/sample_data/sensor_data_072.csv
T4-MDA-Winter_26/DAMO_630_-_Advanced_Data_Analytics_-_Haytham/Week5_activity/Week5_activity_Starter_Code/sample_data/sensor_data_073.csv
T4-MDA-Winter_26/DAMO_630_-_Advanced_Data_Analytics_-_Haytham/Week5_activity/Week5_activity_Starter_Code/sample_data/sensor_data_074.csv
T4-MDA-Winter_26/DAMO_630_-_Advanced_Data_Analytics_-_Haytham/Week5_activity/Week5_activity_Starter_Code/sample_data/sensor_data_075.csv
T4-MDA-Winter_26/DAMO_630_-_Advanced_Data_Analytics_-_Haytham/Week5_activity/Week5_activity_Starter_Code/sample_data/sensor_data_076.csv
T4-MDA-Winter_26/DAMO_630_-_Advanced_Data_Analytics_-_Haytham/Week5_activity/Week5_activity_Starter_Code/sample_data/sensor_data_077.csv
T4-MDA-Winter_26/DAMO_630_-_Advanced_Data_Analytics_-_Haytham/Week5_activity/Week5_activity_Starter_Code/sample_data/sensor_data_078.csv
T4-MDA-Winter_26/DAMO_630_-_Advanced_Data_Analytics_-_Haytham/Week5_activity/Week5_activity_Starter_Code/sample_data/sensor_data_079.csv
T4-MDA-Winter_26/DAMO_630_-_Advanced_Data_Analytics_-_Haytham/Week5_activity/Week5_activity_Starter_Code/sample_data/sensor_data_080.csv
T4-MDA-Winter_26/DAMO_630_-_Advanced_Data_Analytics_-_Haytham/Week5_activity/Week5_activity_Starter_Code/sample_data/sensor_data_081.csv
T4-MDA-Winter_26/DAMO_630_-_Advanced_Data_Analytics_-_Haytham/Week5_activity/Week5_activity_Starter_Code/sample_data/sensor_data_082.csv
T4-MDA-Winter_26/DAMO_630_-_Advanced_Data_Analytics_-_Haytham/Week5_activity/Week5_activity_Starter_Code/sample_data/sensor_data_083.csv
T4-MDA-Winter_26/DAMO_630_-_Advanced_Data_Analytics_-_Haytham/Week5_activity/Week5_activity_Starter_Code/sample_data/sensor_data_084.csv
T4-MDA-Winter_26/DAMO_630_-_Advanced_Data_Analytics_-_Haytham/Week5_activity/Week5_activity_Starter_Code/sample_data/sensor_data_085.csv
T4-MDA-Winter_26/DAMO_630_-_Advanced_Data_Analytics_-_Haytham/Week5_activity/Week5_activity_Starter_Code/sample_data/sensor_data_086.csv
T4-MDA-Winter_26/DAMO_630_-_Advanced_Data_Analytics_-_Haytham/Week5_activity/Week5_activity_Starter_Code/sample_data/sensor_data_087.csv
T4-MDA-Winter_26/DAMO_630_-_Advanced_Data_Analytics_-_Haytham/Week5_activity/Week5_activity_Starter_Code/sample_data/sensor_data_088.csv
T4-MDA-Winter_26/DAMO_630_-_Advanced_Data_Analytics_-_Haytham/Week5_activity/Week5_activity_Starter_Code/sample_data/sensor_data_089.csv
T4-MDA-Winter_26/DAMO_630_-_Advanced_Data_Analytics_-_Haytham/Week5_activity/Week5_activity_Starter_Code/sample_data/sensor_data_090.csv
T4-MDA-Winter_26/DAMO_630_-_Advanced_Data_Analytics_-_Haytham/Week5_activity/Week5_activity_Starter_Code/sample_data/sensor_data_091.csv
T4-MDA-Winter_26/DAMO_630_-_Advanced_Data_Analytics_-_Haytham/Week5_activity/Week5_activity_Starter_Code/sample_data/sensor_data_092.csv
T4-MDA-Winter_26/DAMO_630_-_Advanced_Data_Analytics_-_Haytham/Week5_activity/Week5_activity_Starter_Code/sample_data/sensor_data_093.csv
T4-MDA-Winter_26/DAMO_630_-_Advanced_Data_Analytics_-_Haytham/Week5_activity/Week5_activity_Starter_Code/sample_data/sensor_data_094.csv
T4-MDA-Winter_26/DAMO_630_-_Advanced_Data_Analytics_-_Haytham/Week5_activity/Week5_activity_Starter_Code/sample_data/sensor_data_095.csv
T4-MDA-Winter_26/DAMO_630_-_Advanced_Data_Analytics_-_Haytham/Week5_activity/Week5_activity_Starter_Code/sample_data/sensor_data_096.csv
T4-MDA-Winter_26/DAMO_630_-_Advanced_Data_Analytics_-_Haytham/Week5_activity/Week5_activity_Starter_Code/sample_data/sensor_data_097.csv
T4-MDA-Winter_26/DAMO_630_-_Advanced_Data_Analytics_-_Haytham/Week5_activity/Week5_activity_Starter_Code/sample_data/sensor_data_098.csv
T4-MDA-Winter_26/DAMO_630_-_Advanced_Data_Analytics_-_Haytham/Week5_activity/Week5_activity_Starter_Code/sample_data/sensor_data_099.csv
T4-MDA-Winter_26/DAMO_630_-_Advanced_Data_Analytics_-_Haytham/Week5_activity/Week5_activity_Starter_Code/sample_data/sensor_data_100.csv
T4-MDA-Winter_26/DAMO_640_-_Machine_Learning_-_Touraj/Assignment_1/A1_Clinical_risk.csv
T4-MDA-Winter_26/DAMO_630_-_Advanced_Data_Analytics_-_Haytham/Week5_activity/Week5_activity_Starter_Code.zip
T4-MDA-Winter_26/DAMO_630_-_Advanced_Data_Analytics_-_Haytham/Week4-activity/Activity/Module4_Activity.pdf
T4-MDA-Winter_26/DAMO_630_-_Advanced_Data_Analytics_-_Haytham/Week4-activity/Activity/german_credit.csv
T4-MDA-Winter_26/DAMO_630_-_Advanced_Data_Analytics_-_Haytham/Week4-activity/noise_injection.png
T4-MDA-Winter_26/DAMO_630_-_Advanced_Data_Analytics_-_Haytham/Week4-activity/applicant_ages.png
T4-MDA-Winter_26/DAMO_630_-_Advanced_Data_Analytics_-_Haytham/Week3_activity/multi_city_booking(in).csv
T4-MDA-Winter_26/DAMO_630_-_Advanced_Data_Analytics_-_Haytham/Week4-activity/adult_census.csv
T4-MDA-Winter_26/DAMO_630_-_Advanced_Data_Analytics_-_Haytham/Week2-activity/SQL_schema/matches_premier.csv
T4-MDA-Winter_26/DAMO_630_-_Advanced_Data_Analytics_-_Haytham/Week2-activity/SQL_schema/players_premier.csv
T4-MDA-Winter_26/DAMO_630_-_Advanced_Data_Analytics_-_Haytham/Week2-activity/SQL_schema/standings_premier.csv
T4-MDA-Winter_26/DAMO_630_-_Advanced_Data_Analytics_-_Haytham/Week2-activity/SQL_schema/teams_premier.csv
T4-MDA-Winter_26/DAMO_630_-_Advanced_Data_Analytics_-_Haytham/Assignment_1/HealthInsurance.csv
Projects&Practice/Advanced_Analytics/mlflow.db
Projects&Practice/Advanced_Analytics/residuals.png
Projects&Practice/Advanced_Analytics/mlruns/0/8f31dd692e1e4a8dbb8dd30654d41f69/artifacts/model_info/coefficients.csv
Projects&Practice/Advanced_Analytics/coefficients.csv
Projects&Practice/Machine_Learning/W2/logreg_model.joblib
Projects&Practice/Machine_Learning/W2/rf_model.joblib
Projects&Practice/Machine_Learning/W2/scaler.joblib
T4-MDA-Winter_26/CPSC_620_-_Agile_-_Omid/Week3_activity/CPSC620-air-quality-dashboard_G3
